.menu {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1023px) {
        font-size: 14px;
    }

    @media screen and (max-width: 767px) {
        min-height: 684px;
        align-items: flex-start;
        flex-direction: column;
    }
}

.menu__logo {

    @media screen and (max-width: 767px) {
        padding-left: 37px;
    }
}

.menu__button {
    display: none;
    position: relative;

    ::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 2px;
        background-color: #1F1E25;
        top: -5px;
        left: 0px;
    }

    ::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 2px;
        background-color: #1F1E25;
        top: -10px;
        left: 0;
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        border: none;
        background-color: transparent;
        margin-right: 12px;
        top: -4px;
    }
    
}

.menu__button-icon {
    position: absolute;
    width: 16px;
    height: 2px;
    background: #1F1E25;
    left: 9px;
    top: 15px;
}

.menu__list {
    padding: 0;
    padding-top: 6px;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 59%;

    @media screen and (max-width: 1023px) {
        width: 76%;
        padding-left: 5%;
        padding-top: 3px;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        background-color: #F6F7FF;
        padding-left: 3px;
        width: 100%;
        padding-top: 25px;
        //display: none;
    }
}

.menu__item {
    padding: 13px 2%;

    @media screen and (max-width: 767px) {
        border-top: 1px solid #C1C2CA;
        padding: 13px 0;
        margin-left: 2%;
        width: 96%;
    }
}

.menu__link {
    text-decoration: none;
    color: #1F1E25;
    font-size: 16px;
    font-weight: 400;

    &:hover {
        color: #2C36F2;
    }
    
      &:focus,
      &:active {
        color: #2C36F2;
    }

    @media screen and (max-width: 1023px) {
        font-size: 14px;
    }

    @media screen and (max-width: 767px) {
        font-size: 16px;
        padding: 7px 15px;
        display: block;
    }
}

.menu__navigation-bar {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #1F1E25;
    font-size: 16px;
    text-decoration: none;
    padding-left: 1%;

    &:hover {
        color: #2C36F2;
        fill: #2C36F2;
    }
    
      &:focus,
      &:active {
        color: #2C36F2;
        fill: #2C36F2;
    }

    @media screen and (max-width: 1023px) {
        width: 5%;
    }

    @media screen and (max-width: 767px) {
        border-top: 1px solid #C1C2CA;
        border-bottom: 1px solid #C1C2CA;
        width: 95%;
        justify-content: flex-start;
        margin-left: 10px;
        margin-top: -16px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

.menu__navigation-bar-icon {
    margin-right: 12px;
    padding-top: 10px;

    @media screen and (max-width: 1023px) {
        padding-top: 0;
    }

    @media screen and (max-width: 767px) {
        margin-left: 11px;
    }
}

.menu__navigation-bar-text {
    margin-top: 28px;

    @media screen and (max-width: 1023px) {
        display: none;
    }

    @media screen and (max-width: 767px) {
        display: block;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.menu__navigation-only-mobile {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        position: absolute;
        top: -2px;
        right: 1px;
    }
}

.menu--active .menu__navigation-only-mobile {
    display: none;
}

.menu--active .menu__button  {
    left: auto;
    right: -17px;
    top: -7px;
}

.menu--active .menu__button-icon {
    transform: rotate(45deg);

    ::before {
        transform: rotate(90deg);
    }
    
    ::after {
        transform: rotate(-45deg);
    }
}