.credit {
    position: relative;
    background: #F6F7FF;
    color: #1F1E25;
    font-size: 18px;
    padding-left: 6%;
    padding-top: 56px;
    padding-bottom: 30px;
    border-radius: 0px 4px 4px 4px;

    &::after {
        position: absolute;
        content: '';
        width: 440px;
        height: 290px;
        background: url('../../images/car.png') no-repeat center;
        left: 51%;
        top: 55px;

        @media screen and (max-width: 1023px) {
            width: 286px;
            height: 260px;
            left: 55%;
            top: 58px;
            background: url('../../images/car-tablet.png') no-repeat center;
            background-size: contain;
        }

        @media screen and (max-width: 767px) {
            right: 0;
            left: auto;
            top: 96px;
            width: 87px;
            height: 113px;
            background: url('../../images/car-mobile.png') no-repeat center;
        }
    }

    @media screen and (max-width: 1023px) {
        font-size: 16px;
        padding-left: 5.5%;
        padding-top: 54px;
        padding-bottom: 45px;
    }

    @media screen and (max-width: 767px) {
        font-size: 14px;
        padding-left: 5%;
        padding-bottom: 66px;
        min-height: 362px;
    }
}

.credit__container {
    
    @media screen and (max-width: 767px) {
        position: absolute;
        width: 100%;
    }
}

.credit__title {
    font-weight: 500;
    font-size: 22px;
    width: 29%;
    margin-top: 0;
    line-height: 30.8px;
    margin-bottom: 28px;

    @media screen and (max-width: 1023px) {
        font-size: 18px;
        width: 35%;
        margin-bottom: 25px;
        line-height: 25.2px;
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        font-size: 16px;
        width: 72%;
        margin-bottom: 21px;
        line-height: 22.4px;
    }
}

.credit__list {
    list-style: url('../../images/check.svg');
    padding-left: 19px;
    width: 34%;
    margin-bottom: 30px;

    @media screen and (max-width: 1023px) {
        margin-top: 13px;
        width: 49%;
        margin-bottom: 31px;
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        list-style: url('../../images/check-mobile.svg');
        width: 72%;
        line-height: 18.2px;
        padding-left: 15px;
        margin-bottom: 22px;
    }
}

.credit__item {
    margin-bottom: 15px;
    line-height: 23.4px;

    @media screen and (max-width: 1023px) {
        line-height: 20.8px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 9px;
    }
}

.credit__text {
    width: 33%;
    line-height: 25.2px;

    @media screen and (max-width: 1023px) {
        line-height: 22.4px;
        width: 43%;
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        width: 90%;
        line-height: 18.2px;

    }
}

.credit__link {
    color: #1F1E25;
    padding-left: 5px;
}