.success {
    background: #F6F7FF;
    border-radius: 4px;
    width: 500px;
}

.success__text {
    color: #1F1E25;
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 500;
}

.success__desc {
    font-size: 16px;
    color: #394959;
    line-height: 22.4px;
}