.calculator {
    margin-top: 100px;

    @media screen and (max-width: 1023px) {
        margin-top: 69px;
    }

    @media screen and (max-width: 767px) {
        margin-top: 55px;
    }
}

.calculator__title {
    font-size: 41px;
    font-weight: 700;
    padding-left: 7%;

    @media screen and (max-width: 1023px) {
        font-size: 32px;
        padding-left: 5.5%;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 767px) {
        font-size: 22px;
        padding-left: 4.5%;
    }
}

.calculator__form {
    position: relative;
    width: 88%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 49.5% 43%;
    grid-template-rows: auto auto auto;
    column-gap: 8%;

    @media screen and (max-width: 1023px) {
        width: 93%;
        display: block;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-left: -3px;
    }
}

.calculator__form-step {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0px;
    margin-left: 6px;
    padding-bottom: 37px;

    grid-row-start: 1;
    grid-column-start: 1;
    align-self: start;

    width: 100%;

    @media screen and (max-width: 767px) {
        padding-bottom: 26px;
        width: 100%;
        box-sizing: border-box;
    }
}

.calculator__form-step--two {

    @media screen and (max-width: 1023px) {
        width: 95.2%;
    }

    @media screen and (max-width: 767px) {
        width: 98%;
       
    }
}

.calculator__form-title {
    font-size: 22px;
    color: #1F1E25;

    @media screen and (max-width: 1023px) {
        font-size: 18px;
        margin-top: 25px;
    }

    @media screen and (max-width: 767px) {
        font-size: 16px;
        padding-left: 0;
        margin-top: 14px;
    }
}

.calculator__form-select {
    width: 100%;

    @media screen and (max-width: 1023px) {
        width: 95.2%;
    }

    
    @media screen and (max-width: 767px) {
        width: 97.6%;
    }
}

.calculator__form-triger {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    border-radius: 4px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    cursor: pointer;
    color: #1F1E25;
    font-weight: 500;
    background: #ffffff;
    text-align: left;

    &::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 8px;
        top: 27px;
        right: 3.45%;
        background: url('../../images/arrow.svg') no-repeat center;
    }

    &:focus,
    &:hover,
    &:active {
        border: 1px solid #000000;

        &::after {
            transform: rotate(-180deg);
        }
    }

    @media screen and (max-width: 767px) {
        padding-left: 15px;
    }
}

.calculator__form-content {
    border: 1px solid #1F1E25;
    border-top: none;
    border-bottom: none;
}

.calculator__form-content-item {
    display: block;
    width: 100%;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    cursor: pointer;
    text-align: left;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #1F1E25;
    background: #ffffff;
}




