.social-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-left: -15px;
    margin-top: 10px;
    margin-right: 4px;

}

.social-bar__link {
    text-decoration: none;
    display: block;
    position: relative;
}

.social__icon {
    fill: #1F1E25;
}

.social-bar__link:hover > .social__icon,
.social-bar__link:active > .social__icon,
.social-bar__link:focus > .social__icon {
    fill: #2C36F2;
}