.header {
    background-color: #F6F7FF;
    padding: 0;
    padding-bottom: 8px;

    @media screen and (max-width: 767px) {
        padding-top: 17px;
        padding-bottom: 0;
    }

    @media screen and (max-width: 767px) {
        padding-bottom: 23px;
    }
}

.header__container {
    margin: 0 auto;
    max-width: 1366px;
    padding: 0px 7%;

    @media screen and (max-width: 1023px) {
        padding: 0px 3.5% 0 6%;
    }

    @media screen and (max-width: 767px) {
        padding: 0px .3% 0 2%;

    }
}
