.online-service {
    position: relative;
    background: #F6F7FF;
    color: #1F1E25;
    font-size: 18px;
    padding-left: 6%;
    padding-top: 56px;
    border-radius: 0px 4px 4px 4px;
    padding-bottom: 74px;

    &::after {
        position: absolute;
        content: '';
        width: 440px;
        height: 290px;
        background: url('../../images/mobail.png') no-repeat center;
        left: 51%;
        top: 54px;

        @media screen and (max-width: 1023px) {
            left: 55%;
            top: 59px;
            width: 286px;
            height: 260px;
            background: url('../../images/mobail-tablet.png') no-repeat center;
            background-size: contain;
        }

        @media screen and (max-width: 767px) {
            left: 72.5%;
            top: 97px;
            width: 87px;
            height: 113px;
            background: url('../../images/mobile-mobile.png') no-repeat center;
        }
    }

    @media screen and (max-width: 1023px) {
        font-size: 16px;
        padding-left: 6%;
        padding-top: 54px;
        padding-bottom: 86px;
    }

    @media screen and (max-width: 767px) {
        font-size: 14px;
        padding-left: 4.5%;
        padding-bottom: 66px;
        min-height: 362px;
        width: 100%;
    }
}

.online-service__container {
    
    @media screen and (max-width: 767px) {
        position: absolute;
    }
}

.online-service__title {
    font-weight: 500;
    font-size: 22px;
    width: 40%;
    margin-top: 0;
    line-height: 30.8px;
    margin-bottom: 28px;

    @media screen and (max-width: 1023px) {
        font-size: 18px;
        width: 46%;
        margin-bottom: 25px;
        line-height: 25.2px;
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        font-size: 16px;
        width: 72%;
        margin-bottom: 19px;
        line-height: 22.4px;
    }
}

.online-service__list {
    list-style: url('../../images/check.svg');
    padding-left: 21px;
    width: 30%;
    margin-bottom: 48px;

    @media screen and (max-width: 1023px) {
        margin-top: 13px;
        width: 45%;
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        list-style: url('../../images/check-mobile.svg');
        width: 72%;
        line-height: 18.2px;
        padding-left: 15px;
        margin-bottom: 35px;
    }
}

.online-service__item {
    margin-bottom: 15px;
    line-height: 23.4px;

    @media screen and (max-width: 1023px) {
        line-height: 20.8px;
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 9px;
        line-height: 19.2px;
    }
}

.online-service__item span {
    display: block;
}

.online-service__link {
    text-decoration: none;
    color: #F6F7FF;
    background-color: #2C36F2;
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background: linear-gradient(90deg, #AE009D 0%, #2C36F2 95.72%);
    }

    &:disabled {
        background: #2C36F2;
        color: #F6F7FF;
        opacity: 0.3;
    }


    @media screen and (max-width: 1023px) {
        margin-left: -73%;
    }

    @media screen and (max-width: 767px) {
        font-size: 14px;
        padding: 14px 85px;
        margin-left: -5%;
    }
}