.calculator-questionnaire {
    border: none;
    width: 770px;
    margin: 0 auto;
    background: #F6F7FF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 18%;
    margin-top: 29px;

    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;

    display: none;

    @media screen and (max-width: 1023px) {
        width: 685px;
        background: #ffffff;
        margin-left: -2%;
    }
    
    @media screen and (max-width: 767px) {
        width: 92%;
        margin-left: 0;
    }
}

.calculator-questionnaire__title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 65px;
    margin-bottom: 8px;
    color: #1F1E25;

    @media screen and (max-width: 1023px) {
        font-size: 18px;
        margin-top: 43px;
        margin-left: 7%;
    }
        
    @media screen and (max-width: 767px) {
        font-size: 16px;
        margin-top: 15px;
        margin-left: 10%;
    }
}

.calculator-questionnaire__list {
    width: 82%;
    list-style: none;
    font-size: 16px;
    margin-top: 4px;
    padding-left: 0px;

    @media screen and (max-width: 1023px) {
        width: 99%;
        margin-top: 15px;
        margin-left: 8%;
    }

    @media screen and (max-width: 767px) {
        margin-top: 27px;
        margin-left: 11%;
        margin-bottom: 0px;
    }
}

.calculator-questionnaire__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #C4C4C4;

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 15px;
    }
}

.calculator-questionnaire__item-title {
    color: #394959;
    line-height: 22.4px;
    font-size: 15px;
    
    @media screen and (max-width: 767px) {
        margin-top: 0;
        margin-bottom: 14px;
    }
}

.calculator-questionnaire__item-value {
    font-size: 22px;
    font-weight: 500;
    margin-top: 18.5px;
    margin-bottom: 8px;

    
    @media screen and (max-width: 1023px) {
        margin-bottom: 9px;
    }

    @media screen and (max-width: 767px) {
        font-size: 18px;
        margin-top: 2px;
        margin-bottom: 0;
    }
}

.calculator-questionnaire__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 18px;
    margin-left: 7px;
    justify-content: space-between;
    width: 82%;

    @media screen and (max-width: 1023px) {
        margin-left: 0px;
        width: 99%;
        margin-left: 8%;
    }

    @media screen and (max-width: 767px) {
        width: 98%;
        margin-left: 10%;
        margin-top: 13px;
    }
}

.calculator-questionnaire__input {
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 24px;
    border-radius: 4px;
    border: 1px solid #0A1E32;
    box-sizing: border-box;

    &::placeholder {
        color: #707C87;
    }

    &:focus,
    &:hover,
    &:active {
        border: 1px solid #000000;
    }

    @media screen and (max-width: 767px) {
        padding-left: 14px;
    }
}

.calculator-questionnaire__input--name {
    width: 100%;
    margin-bottom: 33px;

    @media screen and (max-width: 767px) {
        margin-bottom: 22px;
    }
}

.calculator-questionnaire__input--phone {
    width: 47.5%;

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 22px;
    }
}

.calculator-questionnaire__input--email {
    width: 47.5%;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.calculator-questionnaire__btn {
    font-size: 16px;
    border: none;
    color: #F6F7FF;
    background: #2C36F2;
    font-weight: 500;
    padding: 16px 61px;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 70px;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background: linear-gradient(90deg, #AE009D 0%, #2C36F2 95.72%);
    }

    &:disabled {
        background: #2C36F2;
        color: #F6F7FF;
        opacity: 0.3;
    }

    @media screen and (max-width: 1023px) {
        width: 99%;
        margin-left: 8%;
    }

    @media screen and (max-width: 767px) {
        width: 98%;
        margin-left: 10.5%;
        margin-top: 33px;
        margin-bottom: 47px;
    }
}

.calculator-questionnaire__item--price {

    @media screen and (max-width: 767px) {
        margin-top: -9px;
    }
}

.calculator-questionnaire__item--price .calculator-questionnaire__item-value {

    @media screen and (max-width: 767px) {
        margin-top: 12px;
        margin-bottom: 2px;
    }
}

.calculator-questionnaire__item--time {

    @media screen and (max-width: 767px) {
        margin-top: -4px;
    }
}

.calculator-questionnaire__item--time .calculator-questionnaire__item-value {

    @media screen and (max-width: 767px) {
        margin-bottom: 3px;
    }
}

.calculator-questionnaire--active {
    display: flex;
}